{# Copyright (c) 2026 binarycodes
   GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
   SPDX-License-Identifier: GPL-3.0-or-later #}
{{ systemd_app_domain }} {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}
	reverse_proxy {{ systemd_app_upstream }}:{{ systemd_app_port }}
}
